mixin userListItemEmpty()
  li.user-item.clj--user-list__item__empty
    .user-item__text(data-l8n="content:admin-user-list/list-empty") !There are no users

mixin userItem(fullName, emailAddress, emailIsConfirmed, userIsTrusted)
  - var inputID = fullName.replace(/ /g, "").toLowerCase();
  li.user-item.clj--user-item
    .user-item__text
      .user-item__name.clj--user-item__full-name !#{fullName}
      .user-item__email-address.clj--user-item__email-address
        if emailIsConfirmed
          i.fa.fa-check-circle-o.user-item__email-address__icon.clj--user-item__email-confirmed
            span.visuallyhidden(data-l8n="content:admin-user-list/user-confirmed-email") !Confirmed
        else
          i.fa.fa-times-circle-o.user-item__email-address__icon.clj--user-item__email-unconfirmed
            span.visuallyhidden(data-l8n="content:admin-user-list/user-not-confirmed-email") !Not confirmed
        span.clj--user-item__email-address__text !#{emailAddress}
    .user-item__action-list
      form(action="/admin/set-user-trustworthiness", method="post")
        .user-item__toggle-trust
          label.toggle.clj--user-item__label(for="toggle-#{inputID}")
            input.clj--user-item__email-input(type="hidden" name="login")
            input.toggle__input.clj--user-item__toggle(type="checkbox" id="toggle-#{inputID}" name="trust-toggle" checked=userIsTrusted)
            span.toggle__title.visuallyhidden(data-l8n="content:admin-user-list/trust-label") !Toggle trust
            span.toggle__switch
              span.toggle__handle
                span.toggle__handle-icon
                  i.fa.fa-lock
        button.user-item__trust-button.func--user-item__trust-submit(type="submit", value="update")
          i.fa.fa-check
          span.visuallyhidden(data-l8n="content:admin-user-list/trust-form-button") !Update

mixin adminAppItem(appName, appURL, clientID, clientSecret)
  li.admin-app-item.clj--admin-app-item
    h2.admin-app-item__title.clj--admin-app-item__title #{appName}
    .admin-app-item__delete.clj-wip
      a.icon-button(href="#are-you-sure-page-like-delete-account")
        i.fa.fa-trash-o.icon-button__icon
        span.visuallyhidden(data-l8n="content:admin-app-list/delete-app-button") !Delete
        = " "
        span.visuallyhidden #{appName}

    dl.def-list
      dt.def-list__title(data-l8n="content:admin-app-list/label-app-url") !App URL
      dd.def-list__data.clj--client-url #{appURL}
      dt.def-list__title(data-l8n="content:admin-app-list/label-app-id") !Client ID
      dd.def-list__data.clj--client-id #{clientID}
      dt.def-list__title(data-l8n="content:admin-app-list/label-app-secret") !Client Secret
      dd.def-list__data.clj--client-secret #{clientSecret}

